<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">One more cup</h1>
      <p class="slogan">One more cup 是一家全球在线水杯零售公司，将水杯直接送到遍布世界的消费者手中。
        <br>
        我们的人才观是：发现你、塑造你、成就你。
        <br>
        Join us and your life will never be the same.
      </p>
      <p class="lead">
        <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>
